{% extends "layouts/navNorm.html" %}

{% block content %}
<div class="container">
    <div class="col-md-4">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Datensatz</th>
                <th>hochgeladen am</th>
                <th>berechnen</th>
            </tr>
            </thead>
            <tbody>
            {% for header in headers %}
            <tr>
                <td>{{header}}</td>
                <td>{{headers[header]["date_uploaded"]}}</td>
                <form class="form-inline" id={{header}} method="post">
                    <td>
                        <button type="submit" class="btn btn-primary">berechnen</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock content %}