{% extends "layouts/navLogin.html" %}

{% block title %}
<a class="navbar-brand mr-4">"Log-In"</a>
{% endblock title %}

{% block content %}
<style>
img {
  width: 65%;
}
</style>

<a href="https://ibb.co/fnvmKgp"><img src="https://i.ibb.co/CM2xXc7/Log-in.png" alt="Log-in" border="0"></a>
<h2>
    This had me stumped. <br>
    Is this how you think outside the box? <br>
    Wood you just stop. <br>
    I woodn't do that. <br>
    I saw that coming. <br>
    I couldn't leaf this one alone. <br>
</h2>
<h3>
    (Bitte anderen Usernamen wählen) <br>
    Quelle: https://twitter.com/SoPunnyy/status/1070756007213715459 <br>
    Bild-Komponente 1: https://www.pexels.com/photo/carton-box-and-tape-with-scissors-on-shabby-table-4498135/ <br>
    Bild-Komponente 2: https://pixabay.com/vectors/firewood-forest-log-trapped-tree-2024457/ <br>
</h3>
{% endblock content %}