{% extends "layouts/contentShow.html" %}
{% block head %}
<!-- ajax imports -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

<script src="{{ url_for('static', filename='js/showHandlungsbedarfDisplay.js') }}"></script>

<style>
            #graph-container {
              width = 100%;
              min-height: 600px;
              margin-bottom: 50px;
            }
            #slider-container{
                margin-bottom: 25px;
            }
            #mapid { height: 500px; }
            #bottomActionsContainer { margin-top: 20px; }

</style>

<script>
            var mapIsLoaded = false;
            var mymap;
            var drawnItems;
            var mapsPlaceholder = [];
            var selectedRegion = "none";
            var colorMapping = {
                0: '#ffffff',
                1: '#ffffcc',
                2: '#ffcc66',
                3: '#ff8533',
                4: '#990000'
            }
            var selectedDisplay = 1;  // 1:H&W / 2:H / 3:W
            var legend = L.control({position: 'bottomright'});  // hier definiert, damit keine neue legende erzeugt wird

            L.Map.addInitHook(function () {
                mapsPlaceholder.push(this); // Use whatever global scope variable you like.
            });
            document.addEventListener("DOMContentLoaded", function(){
                mymap = L.map('mapid', {  // Kartenerstellung
                    maxZoom: 22
                });
            });

</script>
{% endblock head %}
{% block title %}
<a class="navbar-brand mr-4">Handlungsbedarf</a>
{% endblock title %}

{% block radio %}
<div class="col-sm">
    <input type="radio" name="display" value="HW" checked="checked">Handlungsbedarf und Wasserstand <br>
    <input type="radio" name="display" value="H">Handlungsbedarf <br>
    <input type="radio" name="display" value="W">Wasserstand <br>
    <button type="button" id="reload" onclick="updateDisplay()">
        Anzeigemodus ändern
    </button>
</div>

<script>
    function updateDisplay(){
        // Radio-Button-Aenderungen fuer Anzeigemodus
        var display = document.getElementsByName('display');
        var selectedDisplayOld = selectedDisplay;

        for(i = 0; i < display.length; i++) {
            if(display[i].checked){
                selectedDisplay = i+1;
            }
        }
        if (selectedDisplay !== selectedDisplayOld){
            updateMap(selectedDisplayOld);
        }
    }

    function updateMap(selectedDisplayOld){
        // Legende updaten
        legend.addTo(currentMap);

        // Polygone anpassen
        if (selectedDisplay == 1){
            if (selectedDisplayOld == 2){
                currentMap.addLayer(drawnWasserstand);
                currentMap.removeLayer(drawnHandlungsbedarf);
                currentMap.addLayer(drawnHandlungsbedarf);}
            if (selectedDisplayOld == 3){
                currentMap.addLayer(drawnHandlungsbedarf);}
        }else if(selectedDisplay == 2){
            currentMap.removeLayer(drawnWasserstand);
            if (selectedDisplayOld == 3){
                currentMap.addLayer(drawnHandlungsbedarf);}
        }else if(selectedDisplay == 3){
            currentMap.removeLayer(drawnHandlungsbedarf);
            if (selectedDisplayOld == 2){
                currentMap.addLayer(drawnWasserstand);}
        }
    }
</script>
{% endblock radio %}