{% extends "layouts/navNorm.html" %}
{% block title %}
<a class="navbar-brand mr-4">DGM</a>
{% endblock title %}

{% block info %}
Laden Sie hier ihr DGM als csv-Datei hoch und geben Sie den Namen des Gebiets an. Als Rastergröße
wählen Sie die Rastergröße des Ihnen vorliegenden DGMs. Klicken Sie dann auf Hochladen.
{% endblock info %}

{% block content %}
<div class="container">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <input type="file" id="files" name="file" multiple="multiple" enctype="multipart/form-data"/>
            <br>
            <input type="text" id="region" name="region" placeholder="Name der Region" method="post">
            <br>
            <br>
            <input type="checkbox" id="reuseFile" name="reuseFile"
                   placeholder="Bereits hochgeladene Datei nochmal verwenden" method="post">
            <label for="reuseFile">Bereits hochgeladene Datei nochmal verwenden</label>
            <p style="margin-top: 20px;">
                <input type="submit" value="Hochladen" class="btn btn-lg btn-primary"/>
            </p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock content %}