<!DOCTYPE html>
<html lang="en">
<!-- Elterntemplate -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block version %}{% endblock version %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- you need to include the ShieldUI CSS and JS assets in order for the Upload widget to work -->
        <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
        <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% if title %}
        <title>AKUT - {{ title }}</title>
        {% else %}
        <title>AKUT</title>
        {% endif %}
    </head>
    <body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                {% if title %}
                <a class="navbar-brand mr-4">{{ title }}</a>
                {% else %}
                <a class="navbar-brand mr-4">AKUT</a>
                {% endif %}

                {% if landing == false %}
                <a class="navbar-brand mr-4 navbar-zurueck"
                   onclick="window.location.href=window.location.origin + '/landingPage'">Zurück</a>
                {% endif %}

                {% if current_user.is_authenticated %}
                <a class="navbar-brand mr-4 navbar-zurueck"
                   onclick="window.location.href=window.location.origin + '/logout'">Logout</a>
                <a class="navbar-brand mr-4 navbar-zurueck"
                   onclick="window.location.href=window.location.origin + '/account'">Account</a>
                {% else %}
                <a class="navbar-brand mr-4 navbar-zurueck"
                   onclick="window.location.href=window.location.origin + '/login'">Login</a>
                <a class="navbar-brand mr-4 navbar-zurueck"
                   onclick="window.location.href=window.location.origin + '/register'">Registrieren</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <main role="main" class="container">
        <div class="container headline-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock content %}
        </div>
    </main>
    </body>
</html>