<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- you need to include the ShieldUI CSS and JS assets in order for the Upload widget to work -->
        <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
        <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- ajax imports -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <script src="{{ url_for('static', filename='js/modifyHeaderDataSaveToDatabase.js') }}"></script>

        <script>
            var mySavedData = JSON.parse('{{ headersAsJson | tojson | safe}}');
        </script>

        <script>
            $( document ).ready(function() {
                $('.selectpicker').on('change', function(e){
                    document.getElementById("inputAmount").value = mySavedData[this.value]["amount"];
                    document.getElementById("inputDuration").value = mySavedData[this.value]["duration"];
                });
            });

        </script>

        <script>
            function savePropertiesLocally() {
                mySavedData[$('#selectpickerId')[0].value]["amount"] = document.getElementById("inputAmount").value;
                mySavedData[$('#selectpickerId')[0].value]["duration"] = document.getElementById("inputDuration").value;
            }
        </script>

    </head>
    <body>
        <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
              <a class="navbar-brand mr-4">Regenspende & Regendauer</a>
                <a class="navbar-brand mr-4 navbar-zurueck" onclick="window.location.href=window.location.origin + '/landingPage'">Zurück</a>
            </div>
          </nav>
        </header>
        <main role="main" class="container">
            <div class="container">
                <div class="col-md-8">
                    <div class="container" id="bottomDisplayContainer">
                        <select class="selectpicker" id="selectpickerId">
                            <option value="" selected disabled>Region auswählen</option>
                            {% for header in headers %}
                                <option value={{header[0]}}>{{header[0]}}</option>
                            {% endfor %}
                        </select>
                        <form>
                            <br>
                          Regenspende [l / (s * ha)]:<br>
                          <input type="number" name="amount" id="inputAmount"><br>
                          Regendauer [min]:<br>
                          <input type="number" name="duration" id="inputDuration">
                        </form>
                        <br>
                        <td><button type="submit" onclick="savePropertiesLocally()" class="btn btn-primary">Lokal Speichern</button></td>
                        <br>
                        <br>
                        <form class="form-inline formSave" id="saveToDatabase" method="post">
                            <td><button type="submit" class="btn btn-primary">In Datenbank Speichern</button></td>
                        </form>
                    </div>
                    <br>
                    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
                </div>
            </div>
        </main>
    </body>
</html>